.row {
    display: flex;
}

.about-col {
    width: 50%;
    line-height: var(--line-height);
    margin-bottom: var(--bottom-margin);
}

.about-col p {
    padding: 1em 0;
}

.row-img {
    max-width: 50%;
    padding: 2em;
    object-fit: contain;
}

.about {
    line-height: var(--line-height);
}

.about p {
    line-height: var(--line-height);
    padding: 2em 0;
}

/* TABLET VIEW */
@media screen and (max-device-width: 768px) {
    .about-col {
        width: 100%;
        padding: 1em;
    }

    .row {
        display: block;
    }

    .row-img {
        max-width: 100%;
    }

    .about {
        padding: 1em;
    }
}

/* MOBILE PORTRAIT VIEW */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    
}