.hero {
    /* background-image: url("../images/headshot1.png"); */

    /* Full Height */
    height: 100%;
    width: 100%;

    padding-top: 5em;
    /* display: flex; */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.title {
    font-family: 'Source Serif Pro', serif;
    font-size: 3em;
}

.hero-img {
    height: 80%;
}

/* TABLET VIEW */
@media screen and (max-device-width: 768px) {
    .hero-img {
        height: auto;
        width: 100%;
    }
}

/* MOBILE PORTRAIT VIEW */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .title {
        font-size: 2em;
    }
}