.excerpts {
    padding: 2em;
}

.spin {
    padding: 4em;
    background-color: rgb(62, 145, 194);
}

.excerpt {
    padding: 4em 0;
    font-size: x-large;
    font-weight: bold;
}

.excerptPics {
    display: flex;
    flex-direction: column;
}

.excerptPics img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    flex-direction: row;
}

.header h1 {
    padding: 1em 1em;
}