.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.listen h1 {
    padding: 3em 0;
}

/* .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
} */

/* .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
} */

.video-responsive {
    transition: all .2s ease-in-out;
    width: 16em;
    border: .18em solid black;
    padding: 1em 0;
    margin: 1em 0;
}

.video-responsive iframe {
    width: 100%;
}

.video-responsive:hover {
    transform: scale(1.2);
}

.date {
    opacity: 50%;
    font-size: small;
}

/* TABLET VIEW */
@media screen and (max-device-width: 768px) {
   .listen h1 {
    padding: 0;
   }

   .listen {
    justify-content: center;
   }
}

/* MOBILE PORTRAIT VIEW */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    
}